.shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .shop-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }

  .shop-item {
    margin: 10px;
    text-align: center;
  }

  .shop-item img {
    border-radius: 50%;  
  }
  